* {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: rgb(58, 55, 55);
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: lightgreen;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.classic {
    position: relative;
    display: inline-block;
    padding: 20px;
}

.basic {
    position: relative;
    display: inline-block;
    padding: 20px;
}

.premium {
    position: relative;
    display: inline-block;
    padding: 20px;
}

.shorteu {
    display: block;
    padding: 30px 230px;
    position: relative;
    width: 50%;
  }
  
  .image {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    padding: -1px 110px;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .shorteu:hover .image {
    opacity: 0.3;
  }
  
  .shorteu:hover .middle {
    opacity: 1;
  }
  
  .information {
    background-color: rgb(58, 55, 55);
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    margin-left: 20%;
    margin-right: -11%;
  }
  .over {
      position: center;
      float: center;
  }
  




  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li.dropdown {
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: rgb(58, 55, 55);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.contact-form-btn {
    float: right;
    border: 0;
    background: rgb(58, 55, 55);
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transform: 0.5s;
    margin-top: 3px;
}

.contact-form-btn:hover {
    background: lightgreen;
}

#myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 150px; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    margin-right: 10px;
  }
  .myULpt2 {
    /* Remove default list styling */
    padding: 0;
    margin: 0;
    display: none;
}
  
  .myULpt2 li a {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
  }
  
  .myULpt2 li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
  }

  .show {
      display: block;
  }